.container {
  margin: 4rem 10rem 0 10rem;
  height: 30rem;
  width: 20rem;
  border-radius: 1rem 1rem 0 0;
  background-image: url("../assests/backgroundimage.jpg");
  background-position: center;
  background-size: cover;
  border: 5px solid white;
  border-bottom: none;
}
.container header {
  position: static;
  background-color: green;
  padding: 1rem 2rem;
  font-weight: bolder;
  border-radius: 1rem 1rem 0 0;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.1);
  z-index: 5000;
  color: white;
  font-weight: 900;
}
.inputmessage {
  background-color: green;
  padding: 1rem;
  overflow: hidden;
  margin-left: 10em;
  border-radius: 0 0 1rem 1rem;
  border: 5px solid white;
  border-top: none;
  width: 18rem;
}
.inputmessage input {
  margin-right: 1rem;
  border-radius: 0.6rem;
  outline: none;
  border: none;
  font-family: verdana, sans-serif;
  width: 13rem;
  color: black;
  height: 1.5rem;
  background-color: rgb(186, 199, 209);
}
.changer {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: rgb(121, 166, 205);
  padding: 3px;
}
@media (max-width: 770px) {
  .container {
    margin: 7rem 5rem 0rem 4rem;
  }
  .inputmessage {
    margin-left: 4rem;
  }
}
