.message {
  margin-right: 17rem;
  margin-top: -31.3rem;
  border-radius: 0.5rem;
  max-width: 12rem;
  max-height: 25.8rem;
  margin-right: 65rem;
  float: right;
  overflow-x: hidden;
}
.message ul {
  list-style: none;
  padding: 1rem;
  text-align: right;
  margin-right: -2px;
}
.message li {
  display: inline-flex;
  border-radius: 0.5rem;
  padding: 4px 6px;
  background-color: rgb(175, 208, 175);
  color: black;
  text-align: start;
}
.san {
  padding: 0.5rem;
}
.message::-webkit-scrollbar {
  display: none;
}
@media (max-width: 770px) {
  .message {
    margin-right: 1rem;
    float: none;
    margin-left: 13rem;
    position: relative;
  }
  .message li {
    padding: 2px 4px;
  }
}
